<ion-view view-title="{{lab.name}}">
    <ion-content class="padding">
        <h2>{{lab.h1}}</h2>
        <p>{{lab.h1p1}}</p>
        <p>{{lab.h1p2}}</p>
        <p>{{lab.h1p3}}</p>
        <p>{{lab.h1p4}}</p>

        <h2>{{lab.h2}}</h2>
        <p>{{lab.h2p1}}</p>
        <p>{{lab.h2p2}}</p>
        <p>{{lab.h2p3}}</p>
        <p>{{lab.h2p4}}</p>
        <p>{{lab.h2p5}}</p>
        <p>{{lab.h2p6}}</p>
        <p>{{lab.h2p7}}</p>

        <h2>{{lab.h3}}</h2>
        <p>{{lab.h3p1}}</p>
        <p style="text-align:center;"><img ng-src="{{lab.img1}}" class="{{lab.img1Param}}"></p>
        <p>{{lab.h3p2}}</p>
        <p>{{lab.h3p3}}</p>
        <p>{{lab.h3p4}}</p>
        <p>{{lab.h3p5}}</p>
        <p>{{lab.h3p6}}</p>
        <p>{{lab.h3p7}}</p>
        <p style="text-align:center;"><img ng-src="{{lab.img2}}" ></p>
        <p>{{lab.h3p8}}</p>
        <p>{{lab.h3p9}}</p>
        <p>{{lab.h3p10}}</p>
        <p>{{lab.h3p11}}</p>
        <p>{{lab.h3p12}}</p>
        <p>{{lab.h3p13}}</p>
        <p>{{lab.h3p14}}</p>
        <p>{{lab.h3p15}}</p>
        <p>{{lab.h3p16}}</p>
        <p>{{lab.h3p17}}</p>
        <p>{{lab.h3p18}}</p>
        <p>{{lab.h3p19}}</p>
        <p>{{lab.h3p20}}</p>
        <p>{{lab.h3p21}}</p>
        <p>{{lab.h3p22}}</p>
        <p>{{lab.h3p23}}</p>
        <p>{{lab.h3p24}}</p>
        <p>{{lab.h3p25}}</p>
        <img ng-src="{{lab.img3}}" style="width:300px">
        <br>
        <p>_____</p>

        </ion-content>
</ion-view>
